<section class="video-step">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-xl-12 col-sm-12 col-md-12 text-center">
              <div class="page-title">
              <h1>About Us</h1>
              </div>
          </div>
      </div>
  </div>
</section>
<section>
  <div class="cms-main">
    <div class="container">
      <h2>YSR History</h2>
      <p>
        Founded in 2019, Yashar Engineering Consultancy Services(YSR) is aimed at providing technical solutions in electrical domain. We provide technical inputs like designing, simulation.
      </p>
      <h2>Our Mission</h2>
      <p>
        An employee-owned firm, YSR provides innovative solutions and responds to client needs with value and high-quality service in a variety of market sectors. Our goals are to help our clients realize success with their projects, and to provide professional and personal development for our employees. Our expertise, solution-oriented focus, client responsiveness and commitment to employee and job safety have built our reputation in the industry as the firm to call when exceptional service matters most.
      </p>
      <h2>Our Vision</h2>
      <p> 
        YSR strives to be an industry leader with a growing network of offices and employees who share one commitment: to provide high-quality, innovative consulting engineering services. Our mission is to be the engineering firm of choice in the markets we serve.
      </p>
    </div>
  </div>

</section>